/*.navbar {
background-color:gold;
border:solid orangered ;
font: size 20px; 
position: sticky;
top: 0px;
}*/
.dropdown{
    display: inline-block;
}
.dropdown-content{
    display:none;
}
.dropdown:hover .dropdown-content{
    position: absolute;
    display: block; 
}
.active {
    background-color: aquamarine;
}